*{
    margin: 0;
    padding: 0;
}
.preServiceSection{
    background-color: white;
    border-radius: 30px;
    h3{
        font-size: 25px;
    }
    h2{
        font-size: 30px;
        padding-block: 36px 20px;
        text-align: center;
        margin: 0;
    }
    p{
        font-size: 18px;
    }
}

